<p id="notice"><%= notice %></p>

<h1>Listing Mpaas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mpaas.each do |mpaa| %>
      <tr>
        <td><%= mpaa.name %></td>
        <td><%= link_to 'Show', mpaa %></td>
        <td><%= link_to 'Edit', edit_mpaa_path(mpaa) %></td>
        <td><%= link_to 'Destroy', mpaa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mpaa', new_mpaa_path %>
