.container
  #loginbox.mainbox.col-md-4.col-md-offset-4.col-sm-6{:style => "margin-top:50px;"}
    .panel.panel-info
      .panel-heading
        .panel-title 
          = t('login')
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          %div{:style => "float:right; font-size: 80%; position: relative; top:-10px"}
            = link_to t('forgot_password'), new_password_path(resource_name)
      .panel-body{:style => "padding-top:30px"}
        #login-alert.alert.alert-danger.col-sm-6{:style => "display:none"}
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              %i.glyphicon.glyphicon-user
            = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => t('email')
          .input-group{:style => "margin-bottom: 25px"}
            %span.input-group-addon
              %i.glyphicon.glyphicon-lock
            = f.password_field :password, autocomplete: "on", :class => "form-control", :placeholder => t('password')
          .input-group
            .field
              = f.check_box :remember_me
              = f.label t('remember_me')

          .form-group{:style => "margin-top:10px"}
            .col-sm-12.controls.actions
              = f.submit t('login'), :class => 'btn btn-lg btn-primary btn-block'
