%h1 Listing frames

%table
  %thead
    %tr
      %th Path
      %th{:colspan => "3"}

  %tbody
    - @frames.each do |frame|
      %tr
        %td= frame.path
        %td= link_to 'Show', frame
        %td= link_to 'Edit', edit_frame_path(frame)
        %td= link_to 'Destroy', frame, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Frame', new_frame_path
